* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-align: justify;
}

@font-face {
    font-family: 'Stengazeta';
    src: url('../content/fonts/Stengazeta-Regular_5.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main {
    flex: 1 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 10%;
    background-color: #000;
    color: white;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 160px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.logo img {
    max-height: 150px;
}

.nav {
    display: flex;
    gap: 3.5rem;
}

.nav-link {
    color: #ff6b00;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition:
            color 0.3s ease,
            background-color 0.3s ease,
            transform 0.2s ease;
    display: inline-block;
    font-family: 'Stengazeta', sans-serif;
    line-height: 1.6;
}

.nav-link:hover {
    color: #000000;
    background-color: #ff6b00;
    transform: translateY(-2px);
}

.nav-link.active {
    border: 2px solid #ff6b00;
    border-radius: 0.5rem;
    padding: calc(0.5rem - 2px) 1rem;
    background-color: transparent;
    transition: none;
}
.nav-link.active:hover {
    color: #ff6b00;
    background-color: transparent;
    transform: none;
    box-shadow: none;
}



#cta-button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #00a8ff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.features, .games-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 3rem 10%;
}

.game-card, .member {
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.6s, transform 0.6s;
}

.footer {
    text-align: center;
    padding: 2rem;
    background-color: #222;
    color: white;
}

/* Анимации */
.fadeIn {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.slideUp {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.zoomIn {
    opacity: 1 !important;
    transform: scale(1) !important;
}
