<div class="modal-content">
    <button class="modal-close">&times;</button>

    <div class="modal-header">
        <img src="content/img/games/prospector-solitaire.png" alt="Solitaire Game Logo" class="modal-logo">
        <h1>Prospector Solitaire</h1>
    </div>

    <div class="modal-body">
        <p>
            Готовы к азартной гонке за золотом? Классический пасьянс «Three Peaks» ждёт смельчаков! Раскладывайте карты,
            набивайте очки и докажите, что именно вы — король приисков!»
        </p>

        <p class="release-info">
            Дата релиза будет объявлена позднее. Следите за новостями!
        </p>
    </div>
</div>