<div class="modal-content">
    <button class="modal-close">&times;</button>

    <div class="modal-header">
        <img src="content/img/games/shmup.png" alt="SHMUP Game Logo" class="modal-logo">
        <h1>SHMUP</h1>
    </div>

    <div class="modal-body">
        <p>
            Захватывающий шутер в стиле классических аркадных игр! Управляйте космическим кораблём,
            уничтожайте врагов и собирайте бонусы. Пройдите все уровни и станьте чемпионом!
        </p>

        <p class="release-info">
            Дата релиза будет объявлена позднее. Следите за новостями!
        </p>
    </div>
</div>